.calendar {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.controls {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #F1F1F1;
    gap: 20px;
}

.controls button {
    padding: 10px;
    background-color:  #F1F1F1;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #dacece;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;

}
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    gap: 10px;
    text-align: center;
    cursor: pointer;


}

.day {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}   
.nextMonth{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}


.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color:#FFF;
	border-radius: 12px;
	width: 2.5rem;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
}


.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:  #F1F1F1;
    color: black;
    font-size: 1.2em;
}

